

/* plan */

.plan{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.myplan-container{
  display: flex;
  gap: 180px;
  margin-left: 220px;
  text-align: center;
}
.skill-title{
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.skill-description{
 color: gray;
 font-weight: 200;
 font-size: 18px;
}

/* gradient image */
#show_bg {
  background-image: url(../images/watch.png);
  width: 100%;
  height: 250px;
  background-size: cover;
  color: white;

}
  
.watch-text{
  color: black;
  width: 400px;
  font-weight: 800;
  font-size: 35px;
  padding-top: 40px;
  padding-left: 100px;
  text-align: left;
}
.call-button{
border-radius: 3px;
border: none;
height: 50px;
width: 120px;
background-color: rgb(255, 255, 255);
font-weight: 700;
font-size: 18px;
vertical-align: top;
margin-left: 104px;
margin-bottom: 80px;


}
/* footer info */

.contact{
  display: flex;
  gap: 500px;
  color: white;
  background-color: black;
  border-radius: none;
  width: 100%;
  height: 400px;
  margin-top: 130px;
  padding-left: 150px;
  padding-top: 80px;
  
}
.contact-info{
  display: flex;
  flex-direction: column;
}
.contact-info .text-style{
  
  left: 150px;
  font-weight: 600;
  font-size: 25px;
}
.contact-info .enter-mail{
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border:1 px solid;
  border-color: white;
  background-color: black;
  position: absolute;
  width: 325px;
  height: 40px;
  left: 1060px;
  top: 2950px;
  border-radius: 7px;
  
}
.contact-info .sub-button{
  border-radius: 4px;
  position: absolute;
  width: 150px;
  height: 50px;
  left: 1060px;
  top: 3010.3px;
  font-weight: 600;
  font-size: 20px;
  color: #F15B22;
 
}

.contact-description{
  width: 400px;
  
}

.email-name{
  border: none;
  border-radius: 3px;
 
}

  



