/* header */
.header-banner{
  top: 0px; 
}
.header-title{
position: absolute;
color: #151414;;
width: 500px;
height: 228px;
left: 845px;
top: 205px;
 font-family:Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 65px;
 text-align: right;
 line-height: 76px;
}
.header-description{
position: absolute;
color: #444343;
width: 470px;
height: 78px;
top: 480px;
left: 876px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
}
.contact-button{
  position: absolute;
  color: #FFFFFF;
  width: 150px;
  height: 55px;
  left: 1195px;
  top: 600px;
  border: none;
  border-radius: 5px;
  background-color: #F15B22;
  position: absolute; 
  font-weight: 500;
 font-size: 18px;
 text-align: middle;
  

}
/* middle-part */
.body-part{
  padding-bottom: 100px;
}
.person-image{
padding-top: 150px;
padding-left: 100px;
  
}
.body-title{
position: absolute;
color:#151414;
width: 288px;
height: 94px;
left: 862px;
top: 1178px;
font-weight: 800;
font-size: 40px;
line-height: 47px;

}
.body-description{
  position: absolute;
  color: #444343;;
  width: 416px;
  height:104px ;
  top: 1310px;
  left: 860px;
  font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.body-text-point{
  position: absolute;
width: 349px;
height: 162px;
left: 862px;
top: 1410px;
}
/* plan */

.plan{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.myplan-container{
  display: flex;
  gap: 180px;
  margin-left: 220px;
  text-align: center;
}
.skill-title{
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.skill-description{
 color: gray;
 font-weight: 200;
 font-size: 18px;
}

/* gradient image */
.watch{
  position: absolute;
width: 1140px;
height: 300px;
left: 200px;
top: 2200px;

}
.watch-title{
  position: absolute;
  color: white;
width: 459px;
height: 94px;
left: 250px;
top: 2210px;
font-weight: 700;
font-size: 40px;
line-height: 47px;
}
.watch-button{
  position: absolute;
  border-radius: 5px;
  border: none;
width: 130px;
height:50px;
left: 253px;
top: 2370px;
font-weight: 600;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #F15B22;

}
.gradient-image{
  position: absolute;
width: 1140px;
height: 300px;
left: 198px;
top: 2200px;
border: 8px;
}

  
.watch-text{
  color: black;
  width: 400px;
  font-weight: 800;
  font-size: 35px;
  padding-top: 40px;
  padding-left: 100px;
  text-align: left;
}
.call-button{
border-radius: 3px;
border: none;
height: 50px;
width: 120px;
background-color: rgb(255, 255, 255);
font-weight: 700;
font-size: 18px;
vertical-align: top;
margin-left: 104px;
margin-bottom: 80px;


}
/* footer info */
.contact{
  position: absolute;
width: 1600px;
height: 300px;

top: 2646px;
  background-color: #151414;
  display: flex;
  gap: 100px;
  /* background: #FFF8F3; */
  padding: 130px 200px;
}
.contact .section-title{
  color: white;
  text-align:left;
  font-weight: 700;
font-size: 45px;
}
.contact .section-description{
  color: white;
  font-weight: 400;
font-size: 16px;
width: 300px;
line-height: 22px;
padding-bottom: 5px;

}
.contact input[type='Email'],{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
input{
  height: 64px;
}
.contact .mail{
color: white;
}
.contact .number{
  color: white;
}
.subs-title{
  color: white;
  font-weight: 600;
font-size: 25px;
line-height: 29px;
  padding-top: 30px;
  padding-left: 300px;
}
#subs-mail{
  margin-left: 300px;
  border-color: white;
  border-radius: 5px;
  height: 50px;
  width: 325px;
  font-weight: 400;
font-size: 18px;
text-align:left;
background-color: #151414;
}
.subs-button{
  
  border-radius: 3px;
  color: #F15B22;
  margin-top: 190px;
font-weight: 400;
font-size: 16px;
width: 170.11px;
height: 50px;
vertical-align: middle;

 
}
.btn{
  display: flex;
 height: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
 padding-bottom: 500px;
  
 
}
.subs-button{
  border-radius: 5px;
  color: #F15B22;
font-weight: 600;
font-size: 16px;
}



.contact a{
  text-decoration: none;
  padding-top: 5px;
